{% extends 'components/base.html' %}
{% load static %}

{% block title %}
Изменение идеи
{% endblock title %}

{% block main %}

{% if message %}
    <div class="lead text-success text-center m-2 p-2">{{ message }}</div>
{% endif %}

<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary text-center">
    <form action="{% url 'ideas_update' idea.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Изменение идеи:</h2>
            <div class="card m-1 p-2">
                <div class="p-2">
                    <label class="lead" for="title">Наименование предложения:</label>
                    <input id="title" value="{{ idea.title }}" name="title" type="text" class="form-control" required="" placeholder="...вводите тут...">
                </div>
                <div class="p-2">
                    <label class="lead" for="description">Описание:</label>
                    <textarea id="description" name="description" class="form-control" required="" placeholder="...вводите тут..." rows="5">{{ idea.description }}</textarea>
                </div>
                <div class="p-2">
                    <label class="lead" for="budget">Бюджет:</label>
                    <input id="budget" name="budget" type="number" class="form-control" value="{{ idea.budget }}" required="">
                </div>
                <div class="p-2">
                    <label class="lead" for="avatar">Аватарка:</label>
                    <img class="img-fluid" width="150px" src="{% static idea.avatar.url %}" alt="{{ idea.title }}"/>
                    <input id="avatar" name="avatar" type="file" class="form-control" accept="image/bmp,image/jpeg">
                </div>
                <div class="p-2">
                    <label class="lead" for="file">Дополнительно:</label>
                    <input id="file" name="additional" type="file" class="form-control" accept=".docx, .xlsx">
                </div>
                <div class="text-center">
                    <button class="btn btn-lg btn-outline-warning" type="submit">Обновить</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock main %}
